<div class="my-order w-full h-full bg-gray-50">
    
    <div class="  w-full h-full bg-white rounded p-5 pr-3">
        <div class="vertical-scroll grid grid-cols-3 gap-3 overflow-y-auto bg-white w-full max-h-full pr-5">

            
            <div class="w-full  border-2 border-[#ededed] rounded  flex flex-col p-5">
                <div class="flex mb-4">
                    <div class="h-[70px] w-[70px] min-w-max rounded-full border-[#ededed] border-2 mr-5">
                        <img class="h-full w-full" src="../../../assets/images/courses.png" alt="">
                    </div>
                    <div class="h-full w-full flex flex-col justify-center">
                        <h4 class="font-semibold text-[10px]">Teacher Name</h4>
                        <h3 class="text-green-300 text-lg font-bold">Abhishek Sir and Team</h3>
                    </div>
                </div>
                <table class="text-xs">
                    <tr class="color-tr">
                        <th class="py-2">Course Name</th>
                        <td class="col py-2">:</td>
                        <td class="py-2">GS Spl-32 (Live+VOD)</td>
                    </tr>
                    <tr>
                        <th class="py-2">Course Fee</th>
                        <td class="col py-2">:</td>
                        <td class="py-2">Rs.0</td>
                    </tr>
                    <tr class="color-tr">
                        <th class="py-2">Payment Date</th>
                        <td class="col py-2">:</td>
                        <td class="py-2">05-Oct-2021 12:37:00 PM</td>
                    </tr>
                    <tr>
                        <th class="py-2">Payment Status</th>
                        <td class="col py-2">:</td>
                        <td class="py-2 text-green-500 font-semibold">Sucess</td>
                    </tr>
                </table>
            </div>
            


            <div class="w-full  border-2 border-[#ededed] rounded  flex flex-col p-5">
                <div class="flex mb-4">
                    <div class="h-[70px] w-[70px] min-w-max rounded-full border-[#ededed] border-2 mr-5">
                        <img class="h-full w-full" src="../../../assets/images/courses.png" alt="">
                    </div>
                    <div class="h-full w-full flex flex-col justify-center">
                        <h4 class="font-semibold text-[10px]">Teacher Name</h4>
                        <h3 class="text-green-300 text-lg font-bold">Abhishek Sir and Team</h3>
                    </div>
                </div>
                <table class="text-xs">
                    <tr class="color-tr">
                        <th class="py-2">Course Name</th>
                        <td class="col py-2">:</td>
                        <td class="py-2">GS Spl-32 (Live+VOD)</td>
                    </tr>
                    <tr>
                        <th class="py-2">Course Fee</th>
                        <td class="col py-2">:</td>
                        <td class="py-2">Rs.0</td>
                    </tr>
                    <tr class="color-tr">
                        <th class="py-2">Payment Date</th>
                        <td class="col py-2">:</td>
                        <td class="py-2">05-Oct-2021 12:37:00 PM</td>
                    </tr>
                    <tr>
                        <th class="py-2">Payment Status</th>
                        <td class="col py-2">:</td>
                        <td class="py-2 text-green-500 font-semibold">Sucess</td>
                    </tr>
                </table>
            </div>
            


            <div class="w-full  border-2 border-[#ededed] rounded  flex flex-col p-5">
                <div class="flex mb-4">
                    <div class="h-[70px] w-[70px] min-w-max rounded-full border-[#ededed] border-2 mr-5">
                        <img class="h-full w-full" src="../../../assets/images/courses.png" alt="">
                    </div>
                    <div class="h-full w-full flex flex-col justify-center">
                        <h4 class="font-semibold text-[10px]">Teacher Name</h4>
                        <h3 class="text-green-300 text-lg font-bold">Abhishek Sir and Team</h3>
                    </div>
                </div>
                <table class="text-xs">
                    <tr class="color-tr">
                        <th class="py-2">Course Name</th>
                        <td class="col py-2">:</td>
                        <td class="py-2">GS Spl-32 (Live+VOD)</td>
                    </tr>
                    <tr>
                        <th class="py-2">Course Fee</th>
                        <td class="col py-2">:</td>
                        <td class="py-2">Rs.0</td>
                    </tr>
                    <tr class="color-tr">
                        <th class="py-2">Payment Date</th>
                        <td class="col py-2">:</td>
                        <td class="py-2">05-Oct-2021 12:37:00 PM</td>
                    </tr>
                    <tr>
                        <th class="py-2">Payment Status</th>
                        <td class="col py-2">:</td>
                        <td class="py-2 text-green-500 font-semibold">Sucess</td>
                    </tr>
                </table>
            </div>
            


            <div class="w-full  border-2 border-[#ededed] rounded  flex flex-col p-5">
                <div class="flex mb-4">
                    <div class="h-[70px] w-[70px] min-w-max rounded-full border-[#ededed] border-2 mr-5">
                        <img class="h-full w-full" src="../../../assets/images/courses.png" alt="">
                    </div>
                    <div class="h-full w-full flex flex-col justify-center">
                        <h4 class="font-semibold text-[10px]">Teacher Name</h4>
                        <h3 class="text-green-300 text-lg font-bold">Abhishek Sir and Team</h3>
                    </div>
                </div>
                <table class="text-xs">
                    <tr class="color-tr">
                        <th class="py-2">Course Name</th>
                        <td class="col py-2">:</td>
                        <td class="py-2">GS Spl-32 (Live+VOD)</td>
                    </tr>
                    <tr>
                        <th class="py-2">Course Fee</th>
                        <td class="col py-2">:</td>
                        <td class="py-2">Rs.0</td>
                    </tr>
                    <tr class="color-tr">
                        <th class="py-2">Payment Date</th>
                        <td class="col py-2">:</td>
                        <td class="py-2">05-Oct-2021 12:37:00 PM</td>
                    </tr>
                    <tr>
                        <th class="py-2">Payment Status</th>
                        <td class="col py-2">:</td>
                        <td class="py-2 text-green-500 font-semibold">Sucess</td>
                    </tr>
                </table>
            </div>
            


            <div class="w-full  border-2 border-[#ededed] rounded  flex flex-col p-5">
                <div class="flex mb-4">
                    <div class="h-[70px] w-[70px] min-w-max rounded-full border-[#ededed] border-2 mr-5">
                        <img class="h-full w-full" src="../../../assets/images/courses.png" alt="">
                    </div>
                    <div class="h-full w-full flex flex-col justify-center">
                        <h4 class="font-semibold text-[10px]">Teacher Name</h4>
                        <h3 class="text-green-300 text-lg font-bold">Abhishek Sir and Team</h3>
                    </div>
                </div>
                <table class="text-xs">
                    <tr class="color-tr">
                        <th class="py-2">Course Name</th>
                        <td class="col py-2">:</td>
                        <td class="py-2">GS Spl-32 (Live+VOD)</td>
                    </tr>
                    <tr>
                        <th class="py-2">Course Fee</th>
                        <td class="col py-2">:</td>
                        <td class="py-2">Rs.0</td>
                    </tr>
                    <tr class="color-tr">
                        <th class="py-2">Payment Date</th>
                        <td class="col py-2">:</td>
                        <td class="py-2">05-Oct-2021 12:37:00 PM</td>
                    </tr>
                    <tr>
                        <th class="py-2">Payment Status</th>
                        <td class="col py-2">:</td>
                        <td class="py-2 text-green-500 font-semibold">Sucess</td>
                    </tr>
                </table>
            </div>
            


            <div class="w-full  border-2 border-[#ededed] rounded  flex flex-col p-5">
                <div class="flex mb-4">
                    <div class="h-[70px] w-[70px] min-w-max rounded-full border-[#ededed] border-2 mr-5">
                        <img class="h-full w-full" src="../../../assets/images/courses.png" alt="">
                    </div>
                    <div class="h-full w-full flex flex-col justify-center">
                        <h4 class="font-semibold text-[10px]">Teacher Name</h4>
                        <h3 class="text-green-300 text-lg font-bold">Abhishek Sir and Team</h3>
                    </div>
                </div>
                <table class="text-xs">
                    <tr class="color-tr">
                        <th class="py-2">Course Name</th>
                        <td class="col py-2">:</td>
                        <td class="py-2">GS Spl-32 (Live+VOD)</td>
                    </tr>
                    <tr>
                        <th class="py-2">Course Fee</th>
                        <td class="col py-2">:</td>
                        <td class="py-2">Rs.0</td>
                    </tr>
                    <tr class="color-tr">
                        <th class="py-2">Payment Date</th>
                        <td class="col py-2">:</td>
                        <td class="py-2">05-Oct-2021 12:37:00 PM</td>
                    </tr>
                    <tr>
                        <th class="py-2">Payment Status</th>
                        <td class="col py-2">:</td>
                        <td class="py-2 text-green-500 font-semibold">Sucess</td>
                    </tr>
                </table>
            </div>
            


            <div class="w-full  border-2 border-[#ededed] rounded  flex flex-col p-5">
                <div class="flex mb-4">
                    <div class="h-[70px] w-[70px] min-w-max rounded-full border-[#ededed] border-2 mr-5">
                        <img class="h-full w-full" src="../../../assets/images/courses.png" alt="">
                    </div>
                    <div class="h-full w-full flex flex-col justify-center">
                        <h4 class="font-semibold text-[10px]">Teacher Name</h4>
                        <h3 class="text-green-300 text-lg font-bold">Abhishek Sir and Team</h3>
                    </div>
                </div>
                <table class="text-xs">
                    <tr class="color-tr">
                        <th class="py-2">Course Name</th>
                        <td class="col py-2">:</td>
                        <td class="py-2">GS Spl-32 (Live+VOD)</td>
                    </tr>
                    <tr>
                        <th class="py-2">Course Fee</th>
                        <td class="col py-2">:</td>
                        <td class="py-2">Rs.0</td>
                    </tr>
                    <tr class="color-tr">
                        <th class="py-2">Payment Date</th>
                        <td class="col py-2">:</td>
                        <td class="py-2">05-Oct-2021 12:37:00 PM</td>
                    </tr>
                    <tr>
                        <th class="py-2">Payment Status</th>
                        <td class="col py-2">:</td>
                        <td class="py-2 text-green-500 font-semibold">Sucess</td>
                    </tr>
                </table>
            </div>
            


            <div class="w-full  border-2 border-[#ededed] rounded  flex flex-col p-5">
                <div class="flex mb-4">
                    <div class="h-[70px] w-[70px] min-w-max rounded-full border-[#ededed] border-2 mr-5">
                        <img class="h-full w-full" src="../../../assets/images/courses.png" alt="">
                    </div>
                    <div class="h-full w-full flex flex-col justify-center">
                        <h4 class="font-semibold text-[10px]">Teacher Name</h4>
                        <h3 class="text-green-300 text-lg font-bold">Abhishek Sir and Team</h3>
                    </div>
                </div>
                <table class="text-xs">
                    <tr class="color-tr">
                        <th class="py-2">Course Name</th>
                        <td class="col py-2">:</td>
                        <td class="py-2">GS Spl-32 (Live+VOD)</td>
                    </tr>
                    <tr>
                        <th class="py-2">Course Fee</th>
                        <td class="col py-2">:</td>
                        <td class="py-2">Rs.0</td>
                    </tr>
                    <tr class="color-tr">
                        <th class="py-2">Payment Date</th>
                        <td class="col py-2">:</td>
                        <td class="py-2">05-Oct-2021 12:37:00 PM</td>
                    </tr>
                    <tr>
                        <th class="py-2">Payment Status</th>
                        <td class="col py-2">:</td>
                        <td class="py-2 text-green-500 font-semibold">Sucess</td>
                    </tr>
                </table>
            </div>
            


            <div class="w-full  border-2 border-[#ededed] rounded  flex flex-col p-5">
                <div class="flex mb-4">
                    <div class="h-[70px] w-[70px] min-w-max rounded-full border-[#ededed] border-2 mr-5">
                        <img class="h-full w-full" src="../../../assets/images/courses.png" alt="">
                    </div>
                    <div class="h-full w-full flex flex-col justify-center">
                        <h4 class="font-semibold text-[10px]">Teacher Name</h4>
                        <h3 class="text-green-300 text-lg font-bold">Abhishek Sir and Team</h3>
                    </div>
                </div>
                <table class="text-xs">
                    <tr class="color-tr">
                        <th class="py-2">Course Name</th>
                        <td class="col py-2">:</td>
                        <td class="py-2">GS Spl-32 (Live+VOD)</td>
                    </tr>
                    <tr>
                        <th class="py-2">Course Fee</th>
                        <td class="col py-2">:</td>
                        <td class="py-2">Rs.0</td>
                    </tr>
                    <tr class="color-tr">
                        <th class="py-2">Payment Date</th>
                        <td class="col py-2">:</td>
                        <td class="py-2">05-Oct-2021 12:37:00 PM</td>
                    </tr>
                    <tr>
                        <th class="py-2">Payment Status</th>
                        <td class="col py-2">:</td>
                        <td class="py-2 text-green-500 font-semibold">Sucess</td>
                    </tr>
                </table>
            </div>
            
            

        </div>
    </div>
</div>
