<header class="flex items-center h-[80px] bg-white px-4">
    <div class="logo min-w-[204px] w-[204px]">
        <img src="../../assets/images/dash-logo.png" alt="">
    </div>
    <div class="w-full pl-7">
        <app-breadcrumb></app-breadcrumb>
    </div>
    <div>
        <input type="checkbox" id="switch" />
        <label for="switch">
            <i class="fas fa-trophy text-green-300 text-base mr-1.5"></i>
            <span class="default">Competition</span>   
            <span class="enabled">School</span>
        </label>
    </div>
    <div class="relative">
        <button (click)="openDropdown()" [ngClass]="isDropdownOpened ? 'bg-green-300 text-white rounded-t-lg' : ''"
            class="flex items-center font-medium text-sm py-1 pb-3 mt-2 px-1.5">
            <i [ngClass]="isDropdownOpened ? 'text-white' : ''"
                class="fas fa-user-circle text-green-300 text-lg mr-1.5"></i>
            Profile
        </button>
        <div *ngIf="isDropdownOpened"
            class="absolute top-full right-0 rounded-b-md rounded-l-md p-2 font-medium bg-green-300">
            <ul class="text-white text-xs">
                <li class="flex px-4 py-1.5 items-center cursor-pointer rounded-full hover:bg-green-400">
                    <i class="fas fa-user mr-1.5 w-[14px]"></i>
                    <span class="whitespace-nowrap">Rajneesh Sharma</span>
                </li>
                <li class="flex px-4 py-1.5 items-center cursor-pointer rounded-full hover:bg-green-400">
                    <i class="fas fa-envelope-open mr-1.5 w-[14px]"></i>
                    <span class="whitespace-nowrap">raj@gmail.com</span>
                </li>
                <li class="flex px-4 py-1.5 items-center cursor-pointer rounded-full hover:bg-green-400">
                    <i class="fas fa-mobile mr-1.5 w-[14px]"></i>
                    <span class="whitespace-nowrap">8882320091</span>
                </li>
                <li class="flex px-4 py-1.5 items-center cursor-pointer rounded-full hover:bg-green-400">
                    <i class="fas fa-sign-out-alt mr-1.5 [w-14px]"></i>
                    <span class="whitespace-nowrap">Logout</span>
                </li>
            </ul>
        </div>
    </div>
</header>