#switch[type=checkbox] {
    display: none;
}

label {
    cursor: pointer;
    width: 180px;
    height: 34px;
    background: #fff;
    border: 2px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    position: relative;
    padding-left: 34px;
    margin-right: 20px;
    color: grey;

    .enabled {
        display: none;
    }

    .fa-school {
        display: none;
    }
}

label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -1px;
    width: 34px;
    height: 34px;
    background: grey;
    border-radius: 90px;
    transition: 0.3s;
}

#switch:checked+label {
    background: #149ca8;
    padding: 0 0 0 0;
    color: #fff;
    border: 1px solid #149ca8;

    .enabled {
        display: block;
    }

    .default {
        display: none;
    }

    .fa-trophy {
        display: none;
    }

    .fa-school {
        display: block;
    }

}

#switch:checked+label:after {
    left: calc(100% + 2px);
    top:-1px;
    transform: translateX(-100%);
    background: #fff;
}