<div class="w-full h-full bg-gray-50">
    <ul class="flex gap-2 w-full mb-6">
        <li
            class="px-2 py-1.5 uppercase font-bold text-sm rounded cursor-pointer hover:bg-green-400 hover:text-white bg-green-300 text-white">
            New</li>
        <li
            class="px-2 py-1.5 uppercase font-bold text-sm rounded cursor-pointer hover:bg-green-400 hover:text-white bg-white">
            New</li>
        <li
            class="px-2 py-1.5 uppercase font-bold text-sm rounded cursor-pointer hover:bg-green-400 hover:text-white bg-white">
            New</li>
        <li
            class="px-2 py-1.5 uppercase font-bold text-sm rounded cursor-pointer hover:bg-green-400 hover:text-white bg-white">
            New</li>
        <li
            class="px-2 py-1.5 uppercase font-bold text-sm rounded cursor-pointer hover:bg-green-400 hover:text-white bg-white">
            New</li>
        <li
            class="px-2 py-1.5 uppercase font-bold text-sm rounded cursor-pointer hover:bg-green-400 hover:text-white bg-white">
            New</li>
        <li
            class="px-2 py-1.5 uppercase font-bold text-sm rounded cursor-pointer hover:bg-green-400 hover:text-white bg-white">
            New</li>
    </ul>
    <div class="  w-full h-[calc(100vh-190px)]  bg-white rounded p-5 pr-3">
        <div class="vertical-scroll grid grid-cols-2 content-start gap-x-5 gap-y-3 overflow-y-auto bg-white w-full h-full pr-5">
            <a [routerLink]="'/classes'" class="w-full conten h-[80px] border-2 border-[#ededed] rounded  flex items-center">
                <div class="h-14 w-14 min-w-max rounded-full border-[#ededed] border-2 mx-4">
                    <img class="h-full w-full" src="../../../assets/images/courses.png" alt="">
                </div>
                <div class="h-full w-full flex flex-col justify-center">
                    <h3 class="font-semibold text-sm">Maths Special - 64 (Arith + Advance)</h3>
                    <h4 class="text-green-300 text-xs">Rakesh Yadav Sir</h4>
                </div>
                <div class="w-[160px] min-w-max h-full bg-[#f6f8f7] flex items-center justify-center">
                    <div class="flex items-center bg-green-500 text-white text-[9px] font-medium px-2 py-1 rounded-sm">
                        <i class="fas fa-circle mr-2 text-[7px]"></i>
                        NEW
                    </div>
                </div>
            </a>
            <a [routerLink]="'/classes'" class="w-full conten h-[80px] border-2 border-[#ededed] rounded  flex items-center">
                <div class="h-14 w-14 min-w-max rounded-full border-[#ededed] border-2 mx-4">
                    <img class="h-full w-full" src="../../../assets/images/courses.png" alt="">
                </div>
                <div class="h-full w-full flex flex-col justify-center">
                    <h3 class="font-semibold text-sm">Maths Special - 64 (Arith + Advance)</h3>
                    <h4 class="text-green-300 text-xs">Rakesh Yadav Sir</h4>
                </div>
                <div class="w-[160px] min-w-max h-full bg-[#f6f8f7] flex items-center justify-center">
                    <div class="flex items-center bg-green-500 text-white text-[9px] font-medium px-2 py-1 rounded-sm">
                        <i class="fas fa-circle mr-2 text-[7px]"></i>
                        NEW
                    </div>
                </div>
            </a>
            <a [routerLink]="'/classes'" class="w-full conten h-[80px] border-2 border-[#ededed] rounded  flex items-center">
                <div class="h-14 w-14 min-w-max rounded-full border-[#ededed] border-2 mx-4">
                    <img class="h-full w-full" src="../../../assets/images/courses.png" alt="">
                </div>
                <div class="h-full w-full flex flex-col justify-center">
                    <h3 class="font-semibold text-sm">Maths Special - 64 (Arith + Advance)</h3>
                    <h4 class="text-green-300 text-xs">Rakesh Yadav Sir</h4>
                </div>
                <div class="w-[160px] min-w-max h-full bg-[#f6f8f7] flex items-center justify-center">
                    <div class="flex items-center bg-green-500 text-white text-[9px] font-medium px-2 py-1 rounded-sm">
                        <i class="fas fa-circle mr-2 text-[7px]"></i>
                        NEW
                    </div>
                </div>
            </a>
            <a [routerLink]="'/classes'" class="w-full conten h-[80px] border-2 border-[#ededed] rounded  flex items-center">
                <div class="h-14 w-14 min-w-max rounded-full border-[#ededed] border-2 mx-4">
                    <img class="h-full w-full" src="../../../assets/images/courses.png" alt="">
                </div>
                <div class="h-full w-full flex flex-col justify-center">
                    <h3 class="font-semibold text-sm">Maths Special - 64 (Arith + Advance)</h3>
                    <h4 class="text-green-300 text-xs">Rakesh Yadav Sir</h4>
                </div>
                <div class="w-[160px] min-w-max h-full bg-[#f6f8f7] flex items-center justify-center">
                    <div class="flex items-center bg-green-500 text-white text-[9px] font-medium px-2 py-1 rounded-sm">
                        <i class="fas fa-circle mr-2 text-[7px]"></i>
                        NEW
                    </div>
                </div>
            </a>
            <a [routerLink]="'/classes'" class="w-full conten h-[80px] border-2 border-[#ededed] rounded  flex items-center">
                <div class="h-14 w-14 min-w-max rounded-full border-[#ededed] border-2 mx-4">
                    <img class="h-full w-full" src="../../../assets/images/courses.png" alt="">
                </div>
                <div class="h-full w-full flex flex-col justify-center">
                    <h3 class="font-semibold text-sm">Maths Special - 64 (Arith + Advance)</h3>
                    <h4 class="text-green-300 text-xs">Rakesh Yadav Sir</h4>
                </div>
                <div class="w-[160px] min-w-max h-full bg-[#f6f8f7] flex items-center justify-center">
                    <div class="flex items-center bg-green-500 text-white text-[9px] font-medium px-2 py-1 rounded-sm">
                        <i class="fas fa-circle mr-2 text-[7px]"></i>
                        NEW
                    </div>
                </div>
            </a>
            <a [routerLink]="'/classes'" class="w-full conten h-[80px] border-2 border-[#ededed] rounded  flex items-center">
                <div class="h-14 w-14 min-w-max rounded-full border-[#ededed] border-2 mx-4">
                    <img class="h-full w-full" src="../../../assets/images/courses.png" alt="">
                </div>
                <div class="h-full w-full flex flex-col justify-center">
                    <h3 class="font-semibold text-sm">Maths Special - 64 (Arith + Advance)</h3>
                    <h4 class="text-green-300 text-xs">Rakesh Yadav Sir</h4>
                </div>
                <div class="w-[160px] min-w-max h-full bg-[#f6f8f7] flex items-center justify-center">
                    <div class="flex items-center bg-green-500 text-white text-[9px] font-medium px-2 py-1 rounded-sm">
                        <i class="fas fa-circle mr-2 text-[7px]"></i>
                        NEW
                    </div>
                </div>
            </a>
            <a [routerLink]="'/classes'" class="w-full conten h-[80px] border-2 border-[#ededed] rounded  flex items-center">
                <div class="h-14 w-14 min-w-max rounded-full border-[#ededed] border-2 mx-4">
                    <img class="h-full w-full" src="../../../assets/images/courses.png" alt="">
                </div>
                <div class="h-full w-full flex flex-col justify-center">
                    <h3 class="font-semibold text-sm">Maths Special - 64 (Arith + Advance)</h3>
                    <h4 class="text-green-300 text-xs">Rakesh Yadav Sir</h4>
                </div>
                <div class="w-[160px] min-w-max h-full bg-[#f6f8f7] flex items-center justify-center">
                    <div class="flex items-center bg-green-500 text-white text-[9px] font-medium px-2 py-1 rounded-sm">
                        <i class="fas fa-circle mr-2 text-[7px]"></i>
                        NEW
                    </div>
                </div>
            </a>
            <a [routerLink]="'/classes'" class="w-full conten h-[80px] border-2 border-[#ededed] rounded  flex items-center">
                <div class="h-14 w-14 min-w-max rounded-full border-[#ededed] border-2 mx-4">
                    <img class="h-full w-full" src="../../../assets/images/courses.png" alt="">
                </div>
                <div class="h-full w-full flex flex-col justify-center">
                    <h3 class="font-semibold text-sm">Maths Special - 64 (Arith + Advance)</h3>
                    <h4 class="text-green-300 text-xs">Rakesh Yadav Sir</h4>
                </div>
                <div class="w-[160px] min-w-max h-full bg-[#f6f8f7] flex items-center justify-center">
                    <div class="flex items-center bg-green-500 text-white text-[9px] font-medium px-2 py-1 rounded-sm">
                        <i class="fas fa-circle mr-2 text-[7px]"></i>
                        NEW
                    </div>
                </div>
            </a>
            <a [routerLink]="'/classes'" class="w-full conten h-[80px] border-2 border-[#ededed] rounded  flex items-center">
                <div class="h-14 w-14 min-w-max rounded-full border-[#ededed] border-2 mx-4">
                    <img class="h-full w-full" src="../../../assets/images/courses.png" alt="">
                </div>
                <div class="h-full w-full flex flex-col justify-center">
                    <h3 class="font-semibold text-sm">Maths Special - 64 (Arith + Advance)</h3>
                    <h4 class="text-green-300 text-xs">Rakesh Yadav Sir</h4>
                </div>
                <div class="w-[160px] min-w-max h-full bg-[#f6f8f7] flex items-center justify-center">
                    <div class="flex items-center bg-green-500 text-white text-[9px] font-medium px-2 py-1 rounded-sm">
                        <i class="fas fa-circle mr-2 text-[7px]"></i>
                        NEW
                    </div>
                </div>
            </a>
            <a [routerLink]="'/classes'" class="w-full conten h-[80px] border-2 border-[#ededed] rounded  flex items-center">
                <div class="h-14 w-14 min-w-max rounded-full border-[#ededed] border-2 mx-4">
                    <img class="h-full w-full" src="../../../assets/images/courses.png" alt="">
                </div>
                <div class="h-full w-full flex flex-col justify-center">
                    <h3 class="font-semibold text-sm">Maths Special - 64 (Arith + Advance)</h3>
                    <h4 class="text-green-300 text-xs">Rakesh Yadav Sir</h4>
                </div>
                <div class="w-[160px] min-w-max h-full bg-[#f6f8f7] flex items-center justify-center">
                    <div class="flex items-center bg-green-500 text-white text-[9px] font-medium px-2 py-1 rounded-sm">
                        <i class="fas fa-circle mr-2 text-[7px]"></i>
                        NEW
                    </div>
                </div>
            </a>

        </div>
    </div>
</div>