<div class="w-full h-full bg-gray-50 p-7">
    <ul class="flex gap-2 w-full mb-6">
        <li class="px-2 py-1.5 font-bold text-sm rounded cursor-pointer hover:bg-green-400 hover:text-white bg-green-300 text-white">Today Class</li>
        <li class="px-2 py-1.5 font-bold text-sm rounded cursor-pointer hover:bg-green-400 hover:text-white bg-white">New</li>
        <li class="px-2 py-1.5 font-bold text-sm rounded cursor-pointer hover:bg-green-400 hover:text-white bg-white">New</li>
        <li class="px-2 py-1.5 font-bold text-sm rounded cursor-pointer hover:bg-green-400 hover:text-white bg-white">New</li>
        <li class="px-2 py-1.5 font-bold text-sm rounded cursor-pointer hover:bg-green-400 hover:text-white bg-white">New</li>
        <li class="px-2 py-1.5 font-bold text-sm rounded cursor-pointer hover:bg-green-400 hover:text-white bg-white">New</li>
        <li class="px-2 py-1.5 font-bold text-sm rounded cursor-pointer hover:bg-green-400 hover:text-white bg-white">New</li>
    </ul>
    <div class="  w-full h-[calc(100vh-190px)]  bg-white rounded p-5 pr-3">
        <div class="vertical-scroll grid grid-cols-6 gap-3 overflow-y-auto bg-white w-full pr-5">
            <div class=" shadow-md p-2">
                <img src="../../../assets/images/classDetail.png" alt="">
                <h3 class="text-sm font-bold">L-51 || Ncert Problems on Force</h3>
                <h5 class="text-[10px]">07-Oct-2021</h5>
                <div class="relative flex justify-between w-full">
                    <h5 class="text-[10px]">Duration: 55:52</h5>
                    <div class="bg-[#353a40] w-min absolute bottom-0 right-0 text-sm text-white py-0.5 px-1 rounded font-medium">740</div>
                </div>
            </div>
           
        </div>    
    <div>
</div>