<div class="bg-gray-400 w-[220px] h-[calc(100vh-80px)] py-3">
    <ul class="text-white text-base px-3">
        <li
            class="group flex items-center  hover:bg-green-300 text-gray-300 hover:text-white cursor-pointer rounded-3xl">
            <a class="flex items-center px-4 py-3 w-full" [routerLink]="'dashboard'">
                <i class="fas fa-home mr-3 w-[20px] text-white"></i>
                <span>Home</span>
                <i class="fas fa-angle-right ml-auto"></i>
            </a>
        </li>
        <li class="flex items-center  hover:bg-green-300  text-gray-300 hover:text-white cursor-pointer rounded-3xl">
            <a class="flex items-center px-4 py-3 w-full" [routerLink]="'live-classes'">
                <i class="fas fa-user-graduate mr-3 w-[20px] text-white"></i>
                <span>Live Classes</span>
                <i class="fas fa-angle-right ml-auto"></i>
            </a>

        </li>
        <li class="flex items-center  hover:bg-green-300  text-gray-300 hover:text-white cursor-pointer rounded-3xl">
            <a class="flex items-center px-4 py-3 w-full" [routerLink]="'not-found'">
                <i class="fas fa-users mr-3 w-[20px] text-white"></i>
                <span>My Course</span>
                <i class="fas fa-angle-right ml-auto"></i>
            </a>
        </li>
        <li class="flex items-center  hover:bg-green-300  text-gray-300 hover:text-white cursor-pointer rounded-3xl">
            <a class="flex items-center px-4 py-3 w-full" [routerLink]="'my-orders'">
                <i class="fas fa-shopping-cart mr-3 w-[20px] text-white"></i>
                <span>My Orders</span>
                <i class="fas fa-angle-right ml-auto"></i>
            </a>
        </li>
        <li class="flex items-center  hover:bg-green-300  text-gray-300 hover:text-white cursor-pointer rounded-3xl">
            <a class="flex items-center px-4 py-3 w-full" [routerLink]="'not-found'">
                <i class="fas fa-bell mr-3 w-[20px] text-white"></i>
                <span>Notification</span>
                <i class="fas fa-angle-right ml-auto"></i>
            </a>
        </li>
    </ul>
    <hr class="my-3 h-[1px] bg-gray-300 opacity-10">
    <ul class="text-white text-base px-3">
        <li class="flex items-center  hover:bg-green-300  text-gray-300 hover:text-white cursor-pointer rounded-3xl">
            <a class="flex items-center px-4 py-3 w-full" [routerLink]="'faqs'">
                <i class="fas fa-question-circle mr-3 w-[20px] text-white"></i>
                <span>FAQ's</span>
                <i class="fas fa-angle-right ml-auto"></i>
            </a>
        </li>
        <li class="flex items-center  hover:bg-green-300  text-gray-300 hover:text-white cursor-pointer rounded-3xl ">
            <a class="flex items-center px-4 py-3 w-full" [routerLink]="'privacy'">
                <i class="fas fa-book mr-3 w-[20px] text-white"></i>
                <span>Privacy Policy</span>
                <i class="fas fa-angle-right ml-auto"></i>
            </a>
        </li>
    </ul>
    <ul class="text-white text-base my-3">
        <li
            class="flex items-center px-7 py-6 hover:bg-green-300  text-gray-300 hover:text-white cursor-pointer bg-[#27313B]  border border-solid border-gray-300 border-opacity-10">
            <i class="fas fa-sign-out-alt mr-3 w-[20px] text-white"></i>
            <span>Logout</span>
        </li>
    </ul>
</div>