<div class="bg-gray-400 w-[190px] h-[calc(100vh-51px)]">
    <ul class="text-white">
        <li class="flex">
            <div>#</div>
            <span>Home</span>
            <div>></div>
        </li>
        <li class="flex">
            <div>#</div>
            <span>Live Classes</span>
            <div>></div>
        </li>
        <li class="flex">
            <div>#</div>
            <span>My Course</span>
            <div>></div>
        </li>
        <li class="flex">
            <div>#</div>
            <span>My Orders</span>
            <div>></div>
        </li>
        <li class="flex">
            <div>#</div>
            <span>Notification</span>
            <div>></div>
        </li>
    </ul>

</div>
