<div class="bg-gray-400 w-[265px] h-[calc(300vh-51px)] py-3">
    <ul class="text-white text-base px-3">
        <li class="group flex items-center px-4 py-3 hover:bg-green-300 cursor-pointer rounded-3xl">
            <i class="fas fa-home mr-3 w-[20px] text-white"></i>
            <span class="text-gray-300 group-hover:text-white">Home</span>
            <span class="ml-auto">></span>
        </li>
        <li class="flex items-center px-4 py-3 hover:bg-green-300 cursor-pointer rounded-3xl">
            <i class="fas fa-user-graduate mr-3 w-[20px] text-white"></i>
            <span class="text-gray-300">Live Classes</span>
            <span class="ml-auto">></span>
        </li>
        <li class="flex items-center px-4 py-3 hover:bg-green-300 cursor-pointer rounded-3xl">
            <i class="fas fa-users mr-3 w-[20px] text-white"></i>
            <span class="text-gray-300">My Course</span>
            <span class="ml-auto">></span>
        </li>
        <li class="flex items-center px-4 py-3 hover:bg-green-300 cursor-pointer rounded-3xl">
            <i class="fas fa-shopping-cart mr-3 w-[20px] text-white"></i>
            <span class="text-gray-300">My Orders</span>
            <span class="ml-auto">></span>
        </li>
        <li class="flex items-center px-4 py-3 hover:bg-green-300 cursor-pointer rounded-3xl">
            <i class="fas fa-bell mr-3 w-[20px] text-white"></i>
            <span class="text-gray-300">Notification</span>
            <span class="ml-auto">></span>
        </li>
    </ul>
    <hr class="my-3 h-[1px] bg-gray-300 opacity-10">
    <ul class="text-white text-base px-3">
        <li class="flex items-center px-4 py-3 hover:bg-green-300 cursor-pointer rounded-3xl">
            <i class="fas fa-question-circle mr-3 w-[20px] text-white"></i>
            <span class="text-gray-300">FAQ's</span>
            <span class="ml-auto">></span>
        </li>
        <li class="flex items-center px-4 py-3 hover:bg-green-300 cursor-pointer rounded-3xl ">
            <i class="fas fa-book mr-3 w-[20px] text-white"></i>
            <span class="text-gray-300">Privacy Policy</span>
            <span class="ml-auto">></span>
        </li>
    </ul>
    <ul class="text-white text-base my-3">
        <li class="flex items-center px-7 py-6 hover:bg-green-300 cursor-pointer bg-[#27313B]  border border-solid border-gray-300 border-opacity-10">
            <i class="fas fa-sign-out-alt mr-3 w-[20px] text-white"></i>
            <span>Logout</span>
        </li>
    </ul>

</div>