<div class="login-page-wrap grid place-items-center h-[100vh]">
    <div class="login-page w-full">
        <img class="login-logo" src="../../../assets/images/login-logo.png" alt="Logo">
        <div class="login-form-wrap">
            <section class="left">
                <img src="../../../assets/images/logo_1.png" alt="">
            </section>
            <section class="right">
                <h2>LOGIN</h2>
                <p class="right-text">Enter your <span>Careerwill App</span></p>
                <p class="right-text">credentials <b>to sign in</b></p>
                <form class="login-form" action="">
                    <p><label for="userid">User ID</label>
                        <input type="email" placeholder="Email id/ Mobile No.">
                    </p>
                    <p><label for="password">Password</label>
                        <input type="password" placeholder="Enter Your Password">
                    </p>
                    <button type="button" class="btn submit-btn" (click)="goToVotes('');">Log In</button>
                </form>
            </section>
        </div>
    </div>
    <div class="login-footer">
        Copywrite @ 2021 Careerwill. All Rights Reserved.
    </div>
</div>