<div class=" absolute top-0 left-0 w-screen h-screen bg-black bg-opacity-40">
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 border-4 border-[#09424698] rounded-xl bg-white">
        <div class="relative pt-5 pb-6 px-4 w-[450px]">
            <i (click)="closeNotificationModal()" class="fas fa-times absolute top-4 right-4 cursor-pointer"></i>
            <h2 class="font-bold pb-5 text-green-300">Notification</h2>
            <div class="vertical-scroll overflow-y-auto flex flex-col h-[55vh] min-h-[250px] gap-y-2 pr-3 p-0.5">
                
                
                <div class="shadow flex p-4 items-center rounded-md">
                    <div class="w-[50px] h-[50px] min-w-max rounded-full overflow-hidden bg-gray-200 mr-4" >
                        <img class="" src="../../../assets/icon/User-Notif.png" alt="">
                    </div>
                    <div class="w-full">
                        <div class="flex items-end justify-between mb-2">
                            <div class="font-bold leading-none">Mohit Sharma</div>
                            <div class="text-[10px] leading-tight">05-Jul-2021 09:34:57 PM</div>
                        </div>
                        <div class="text-[11px]">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis sequi, sunt provident velit harum </div>
                    </div>
                </div>

                
                
                
                <div class="shadow flex p-4 items-center rounded-md">
                    <div class="w-[50px] h-[50px] min-w-max rounded-full overflow-hidden bg-gray-200 mr-4" >
                        <img class="" src="../../../assets/icon/User-Notif.png" alt="">
                    </div>
                    <div class="w-full">
                        <div class="flex items-end justify-between mb-2">
                            <div class="font-bold leading-none">Mohit Sharma</div>
                            <div class="text-[10px] leading-tight">05-Jul-2021 09:34:57 PM</div>
                        </div>
                        <div class="text-[11px]">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis sequi, sunt provident velit harum </div>
                    </div>
                </div>

                
                
                <div class="shadow flex p-4 items-center rounded-md">
                    <div class="w-[50px] h-[50px] min-w-max rounded-full overflow-hidden bg-gray-200 mr-4" >
                        <img class="" src="../../../assets/icon/User-Notif.png" alt="">
                    </div>
                    <div class="w-full">
                        <div class="flex items-end justify-between mb-2">
                            <div class="font-bold leading-none">Mohit Sharma</div>
                            <div class="text-[10px] leading-tight">05-Jul-2021 09:34:57 PM</div>
                        </div>
                        <div class="text-[11px]">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis sequi, sunt provident velit harum </div>
                    </div>
                </div>

                
                
                <div class="shadow flex p-4 items-center rounded-md">
                    <div class="w-[50px] h-[50px] min-w-max rounded-full overflow-hidden bg-gray-200 mr-4" >
                        <img class="" src="../../../assets/icon/User-Notif.png" alt="">
                    </div>
                    <div class="w-full">
                        <div class="flex items-end justify-between mb-2">
                            <div class="font-bold leading-none">Mohit Sharma</div>
                            <div class="text-[10px] leading-tight">05-Jul-2021 09:34:57 PM</div>
                        </div>
                        <div class="text-[11px]">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis sequi, sunt provident velit harum </div>
                    </div>
                </div>

                
                
                <div class="shadow flex p-4 items-center rounded-md">
                    <div class="w-[50px] h-[50px] min-w-max rounded-full overflow-hidden bg-gray-200 mr-4" >
                        <img class="" src="../../../assets/icon/User-Notif.png" alt="">
                    </div>
                    <div class="w-full">
                        <div class="flex items-end justify-between mb-2">
                            <div class="font-bold leading-none">Mohit Sharma</div>
                            <div class="text-[10px] leading-tight">05-Jul-2021 09:34:57 PM</div>
                        </div>
                        <div class="text-[11px]">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis sequi, sunt provident velit harum </div>
                    </div>
                </div>

                
                
                <div class="shadow flex p-4 items-center rounded-md">
                    <div class="w-[50px] h-[50px] min-w-max rounded-full overflow-hidden bg-gray-200 mr-4" >
                        <img class="" src="../../../assets/icon/User-Notif.png" alt="">
                    </div>
                    <div class="w-full">
                        <div class="flex items-end justify-between mb-2">
                            <div class="font-bold leading-none">Mohit Sharma</div>
                            <div class="text-[10px] leading-tight">05-Jul-2021 09:34:57 PM</div>
                        </div>
                        <div class="text-[11px]">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis sequi, sunt provident velit harum </div>
                    </div>
                </div>

                    
                    
                    <div class="shadow flex p-4 items-center rounded-md">
                        <div class="w-[50px] h-[50px] min-w-max rounded-full overflow-hidden bg-gray-200 mr-4" >
                            <img class="" src="../../../assets/icon/User-Notif.png" alt="">
                        </div>
                        <div class="w-full">
                            <div class="flex items-end justify-between mb-2">
                                <div class="font-bold leading-none">Mohit Sharma</div>
                                <div class="text-[10px] leading-tight">05-Jul-2021 09:34:57 PM</div>
                            </div>
                            <div class="text-[11px]">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis sequi, sunt provident velit harum </div>
                        </div>
                    </div>


            </div>
            
        </div>
    </div>
</div>