<div class="absolute top-20 left-0 w-screen h-[calc(100vh-80px)] bg-white rounded p-5 pr-3 flex gap-3 justify-center">
    <div class="h-full">
        <img class="h-full" src="../../../assets/images/homepage-video.png" alt="">
    </div>
    <!-- <div class="vertical-scroll overflow-y-auto flex flex-col gap-y-3 bg-white w-[25%] h-full pr-5">
        <div class="w-full">
            <img class="w-full" src="../../../assets/images/homepage-video.png" alt="">
        </div>
        <div class="w-full">
            <img class="w-full" src="../../../assets/images/homepage-video.png" alt="">
        </div>
        <div class="w-full">
            <img class="w-full" src="../../../assets/images/homepage-video.png" alt="">
        </div>
        <div class="w-full">
            <img class="w-full" src="../../../assets/images/homepage-video.png" alt="">
        </div>
        <div class="w-full">
            <img class="w-full" src="../../../assets/images/homepage-video.png" alt="">
        </div>
        <div class="w-full">
            <img class="w-full" src="../../../assets/images/homepage-video.png" alt="">
        </div>
        <div class="w-full">
            <img class="w-full" src="../../../assets/images/homepage-video.png" alt="">
        </div>
        <div class="w-full">
            <img class="w-full" src="../../../assets/images/homepage-video.png" alt="">
        </div>
        <div class="w-full">
            <img class="w-full" src="../../../assets/images/homepage-video.png" alt="">
        </div>
    </div> -->
    <div class="flex flex-col bg-white w-[20%] h-full">
        <div class="comments  h-[calc(100vh-45px)] vertical-scroll overflow-y-auto">
            <div class="flex min-h-full flex-col justify-end">
                <div class="comment my-1 px-3">
                    comment test
                </div>
                <div class="comment my-1 px-3">
                    comment test
                </div>
                <div class="comment my-1 px-3">
                    comment test
                </div>
                <div class="comment my-1 px-3">
                    comment test
                </div>
                <div class="comment my-1 px-3">
                    comment test
                </div>
                <div class="comment my-1 px-3">
                    comment test
                </div>
                <div class="comment my-1 px-3">
                    comment test
                </div>
                <div class="comment my-1 px-3">
                    comment test
                </div>
                <div class="comment my-1 px-3">
                    comment test
                </div>
                <div class="comment my-1 px-3">
                    comment test
                </div>
                <div class="comment my-1 px-3">
                    comment test
                </div>
                <div class="comment my-1 px-3">
                    comment test
                </div>
                <div class="comment my-1 px-3">
                    comment test
                </div>
                <div class="comment my-1 px-3">
                    comment test
                </div>
                <div class="comment my-1 px-3">
                    comment test
                </div>
                <div class="comment my-1 px-3">
                    comment test
                </div>
                <div class="comment my-1 px-3">
                    comment test
                </div>
                <div class="comment my-1 px-3">
                    comment test
                </div>
                <div class="comment my-1 px-3">
                    comment test
                </div>
                <div class="comment my-1 px-3">
                    comment test
                </div>
                <div class="comment my-1 px-3">
                    comment test
                </div>
                <div class="comment my-1 px-3">
                    comment test
                </div>
            </div>

        </div>
        <div class="mt-auto">
            <input type="text" placeholder="Enter a comment..."
                class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm border-0 shadow outline-none focus:outline-none focus:ring w-full" />
        </div>
    </div>
</div>