<div class="absolute top-20 left-0 w-screen h-[calc(100vh-80px)] bg-white rounded p-5 pr-3 flex gap-3 justify-center">
    <div class="h-full">
        <img class="h-full" src="../../../assets/images/homepage-video.png" alt="">
    </div>
    <div class="vertical-scroll overflow-y-auto flex flex-col gap-y-3 bg-white w-[25%] h-full pr-5">
        <div class="w-full">
            <img class="w-full" src="../../../assets/images/homepage-video.png" alt="">
        </div>
        <div class="w-full">
            <img class="w-full" src="../../../assets/images/homepage-video.png" alt="">
        </div>
        <div class="w-full">
            <img class="w-full" src="../../../assets/images/homepage-video.png" alt="">
        </div>
        <div class="w-full">
            <img class="w-full" src="../../../assets/images/homepage-video.png" alt="">
        </div>
        <div class="w-full">
            <img class="w-full" src="../../../assets/images/homepage-video.png" alt="">
        </div>
        <div class="w-full">
            <img class="w-full" src="../../../assets/images/homepage-video.png" alt="">
        </div>
        <div class="w-full">
            <img class="w-full" src="../../../assets/images/homepage-video.png" alt="">
        </div>
        <div class="w-full">
            <img class="w-full" src="../../../assets/images/homepage-video.png" alt="">
        </div>
        <div class="w-full">
            <img class="w-full" src="../../../assets/images/homepage-video.png" alt="">
        </div>
    </div>
    <div class="comments w-[20%]">
        Comments 
    </div>  
</div>